<!DOCTYPE html>
<html>
  <head>
    <title>Yarr Drive</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/bootstrap.min.css'>
    <link rel='stylesheet' href='/style.css'>
    <script src='/bootstrap.min.js'></script>
    <script src='//www.google.com/jsapi'></script>
    <script src='/code.js'></script>
    <script src='//www.google-analytics.com/ga.js'></script>
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand font' href='/'>Yarr Drive</a>
          <ul class='nav'>
            <form class='navbar-search'>
              <input class='search-query' name='q' placeholder='Search' type='search'>
            </form>
          </ul>
          <ul class='nav'>
            <li><a id='upload' onclick='picker.setVisible(true)'>Upload (anonymously)</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id='wrapper'>
      {% for video in videos %}
      <div class='item'>
        <a target='_blank' href='{{ video.url }}'>
          <img src='fightclub.jpg'>
        </a>
      </div>
      {% endfor %}
    </div>

  </body>
</html>
