<!DOCTYPE html>
<html>
  <head>
    <title>Yarr Drive</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/bootstrap.min.css'>
    <link rel='stylesheet' href='/style.css'>
    <script src='/bootstrap.min.js'></script>
    <script src='//www.google.com/jsapi'></script>
    <script src='/common.js'></script>
    <script src='//www.google-analytics.com/ga.js'></script>
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div id='top_border'></div>
        <div class='container'>
          <a class='brand font' href='/'>Yarr Drive</a>
          <ul class='nav'>
            <form class='navbar-search'>
              <input class='search-query' name='q' placeholder='Search' type='search'>
            </form>
          </ul>
          <ul class='nav'>
            <li><a id='upload' onclick='picker.setVisible(true)'>Upload (anonymously)</a></li>
          </ul>
        </div>
      </div>
    </div>

  <div id='wrapper'>
    <div style='text-align: center'>
      <div class='text'>
        You MUST enable link sharing. Each video link is anonymous
      </div>
    </div>
    <a href='/'>
      <button> Back </button>
    </a>
    <a target='_blank' href='https://drive.google.com/#my-drive'>
      <button> Google Drive </button>
    </a>
    <div>
      <img id='guide' src='guide.png'>
    </div>
  </div>

  </body>
</html>
